@model IEnumerable<SchoolManagementSystemASPProject.Models.ClassRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1 style="margin-top:150px;">بيانات الصفوف الدراسية</h1>

<p style="direction:ltr; color:white;">
    <button type="button" class="btn btn-primary"><i class="bi bi-plus"></i> @Html.ActionLink("صف دراسي جديد","Create","ClassRooms")</button>
</p>
<table class="table" style="margin-bottom:350px;">
    <thead>
        <tr>
            <th>
                الاسم
            </th>
            <th>العمليات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i> <a href="@Url.Action("Edit", "ClassRooms" )?id=@item.Id">تعديل </a>

                    </button>
                    <button type="button" class="btn btn-info">
                        <i class="bi bi-list-columns-reverse">  </i>  <a href="@Url.Action("Details", "ClassRooms" )?id=@item.Id">تفاصيل</a>
                    </button>
                    <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i> <a href="@Url.Action("Delete", "ClassRooms" )?id=@item.Id">حذف</a></button>
            </tr>
        }
    </tbody>
</table>
